<p class="footer__to-top">
  <span class="footer__button-to-click"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18"
      fill="white">
      <path
        d="M7 16.625C7 17.1773 7.44772 17.625 8 17.625C8.55228 17.625 9 17.1773 9 16.625L7 16.625ZM8.70711 0.667893C8.31658 0.277369 7.68342 0.277369 7.29289 0.667893L0.928932 7.03185C0.538407 7.42238 0.538408 8.05554 0.928932 8.44607C1.31946 8.83659 1.95262 8.83659 2.34315 8.44607L8 2.78921L13.6569 8.44607C14.0474 8.83659 14.6805 8.83659 15.0711 8.44607C15.4616 8.05554 15.4616 7.42238 15.0711 7.03185L8.70711 0.667893ZM9 16.625L9 1.375L7 1.375L7 16.625L9 16.625Z"
        fill="white" />
    </svg>
  </span>
</p>

<footer class="footer" #footer>
  <div class="footer__columns">
    <div class="footer__column footer__column_direction_column">
      <div class="footer__author">
        <p class="footer__author-title">SciCom <span class="footer__scicom-logo"></span> Dzhelepov.lab</p>
        <p class="footer__author-subtitle">Группа научных коммуникаций</p>
      </div>
      <ul class="social footer__social">
        <li class="social__item"><a href="https://www.youtube.com/channel/UCXQhm9DzWIDlvSxDrCRJ8Nw" target="_blank"><img
              src="./assets/images/youtube.svg"></a></li>
        <li class="social__item"><a href="https://www.instagram.com/dzhelepov.lab/" target="_blank"><img
              src="./assets/images/instagram.svg"></a></li>
        <li class="social__item"><a href="http://facebook.com/dlnp.jinr" target="_blank"><img
              src="./assets/images/facebook.svg"></a></li>
        <li class="social__item"><a href="http://vk.com/public179241683" target="_blank"><img
              src="./assets/images/vk.svg"></a></li>
        <li class="social__item"><a href="https://t.me/DLNPnews" target="_blank"><img
              src="./assets/images/telegram.svg"></a></li>
        <li class="social__item"><a href="http://twitter.com/DLNP_JINR" target="_blank"><img
              src="./assets/images/twitter.svg"></a></li>
        <li class="social__item"><a href="https://habr.com/ru/users/dlnp/posts/" target="_blank"><img
              src="./assets/images/habr.svg"></a></li>
      </ul>
    </div>

    <div class="footer__column">
      <div class="footer__logos">
        <figure class="logo">
          <img class="logo__image" src="./assets/images/logo_dlnp.svg" alt="dlnp logo">
          <figcaption class="logo__caption">
            <p>Лаборатория ядерных
              проблем им.&nbsp;В.&nbsp;П.&nbsp;Джелепова</p>
            <a class="logo__address" href="https://dlnp.jinr.ru">dlnp.jinr.ru</a>
          </figcaption>
        </figure>
        <figure class="logo">
          <img class="logo__image" src="./assets/images/logo_jinr.svg" alt="jinr logo">
          <figcaption class="logo__caption">
            <p>Объединенный институт
              ядерных исследований</p>
            <a class="logo__address" href="https://jinr.ru">jinr.ru</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</footer>
