.footer__to-top {
  position: fixed;
  position: sticky;
  margin: 40px 4.7%;
  display: none;
  justify-content: end;
  justify-content: flex-end;
  right: 4.7%;
  bottom: 7%;
  z-index: 1;
}

.footer__to-top span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--terra);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  scroll-behavior: smooth;
  opacity: 1;
  transition: opacity .3s ease;
  cursor: pointer;
}

.footer__to-top span:hover {
  opacity: .6;
}
