<section class="theme about">
  <div class="theme-header about__theme-header">
    <h2 class="theme-header__title col-6 col-md-4 offset-1">О&nbsp;проекте</h2>
    <div class="theme-header__text-wrapper col-12 col-md-8 offset-1 offset-md-0">
      <p class="theme-header__text offset-1">Медиапроект «Очаровательная наука» был подготовлен к&nbsp;Международному
        дню женщин в&nbsp;науке, который Генеральная Ассамблея ООН провозгласила в&nbsp;2015&nbsp;году.</p>
    </div>
  </div>
  <div class="about__text-wrapper">
    <ng-lottie (animationCreated)="animationCreatedPie($event)" (loopComplete)="stopPieVideo()"
      class="about__statistic-video about__statistic-video_pie col-8 col-md-4 offset-1" height="auto"
      [options]="options2"></ng-lottie>
    <!-- <video autoplay="true" src="./assets/video/statistics.mp4" muted="muted" webkit-playsinline="true"
      playsinline="true" class="about__statistic-video col-8 col-md-4 offset-1"></video> -->
    <div class="col-12 offset-1 offset-md-0 col-md-8">
      <p class="about__text">В&nbsp;резолюции
        говорится, что праздник учрежден &laquo;для того, чтобы достичь полного и&nbsp;равного доступа женщин
        и&nbsp;девушек
        к&nbsp;науке, а&nbsp;также обеспечить гендерное равенство и&nbsp;расширение прав и&nbsp;возможностей женщин
        и&nbsp;девушек&raquo;.</p>
      <p class="about__text">Мы&nbsp; упоминали, что женщины-учёные составляют
        19,4% научных сотрудников Лаборатории ядерных проблем. Некоторые из&nbsp;них стали героинями нашего проекта.
        Мы&nbsp;поговорили с&nbsp;ними о&nbsp;многом: насколько вопросы гендерного равенства в&nbsp;науке актуальны
        в&nbsp;нашей стране, как можно расширить права и&nbsp;возможности женщин-ученых, а&nbsp;еще&nbsp;&mdash; как
        им&nbsp;удается всё успевать и&nbsp;оставаться увлечёнными и&nbsp;наукой, и&nbsp;жизнью.</p>
      <p class="about__text">Институт статистических исследований и&nbsp;экономики
        знаний Национального исследовательского университета &laquo;Высшая школа экономики&raquo; (ИСИЭЗ НИУ ВШЭ) провёл
        <a href="https://issek.hse.ru/news/448782899.html" class="link">анализ</a> данных официальной статистики
        и&nbsp;социологических опросов по&nbsp;интересующей нас теме.
        Согласно этому анализу,</p>
      <ul class="about__text">
        <li>почти&nbsp;40% исследователей, работающих в&nbsp;России,&nbsp;&mdash; женщины;</li>
        <li>в&nbsp;2019&nbsp;г. численность женщин-исследователей составила 136,1&nbsp;тыс. чел., что на&nbsp;11,6%
          меньше,
          чем в&nbsp;2010&nbsp;г.;</li>
        <li>значительная часть исследователей-женщин&nbsp;&mdash; это молодые ученые в&nbsp;возрасте до&nbsp;39&nbsp;лет
          (42,5%);</li>
        <li>женщины-исследователи чаще привержены одному месту работы (63,2%), чем их&nbsp;коллеги мужчины (53,4%);</li>
        <li>при выборе места работы абсолютному большинству женщин (68,2%) очень важна социальная защищенность.</li>
      </ul>
      <p class="about__text">В&nbsp;нашей Лаборатории</p>
      <ul class="about__text">
        <li>доля женщин-научных сотрудников составляет 19,4%;</li>
        <li>из&nbsp;них в&nbsp;возрасте до&nbsp;40&nbsp;лет&nbsp;&mdash; 54,9%;</li>
        <li>возрастные рамки&nbsp;&mdash; от&nbsp;26&nbsp;до&nbsp;84&nbsp;лет;</li>
        <li>из&nbsp;них 45,1% имеют ученую степень (20&nbsp;кандидатов наук и&nbsp;3&nbsp;доктора наук).</li>
      </ul>
      <div class="about__text">
        <ng-lottie (animationCreated)="animationCreatedScale($event)" (loopComplete)="stopScaleVideo()" height="auto"
          [options]="options" class="about__statistic-video about__statistic-video_scale">
        </ng-lottie>
      </div>
      <p class="about__text">Мы&nbsp;благодарны нашим героиням за&nbsp;их&nbsp;отзывчивость и&nbsp;искренность. Время
        подготовки проекта стало для нас временем размышлений и&nbsp;открытий, мы&nbsp;многое переосмыслили
        и&nbsp;на&nbsp;многое посмотрели по-новому.
      </p>
      <p class="about__text">Мы&nbsp;очень надеемся, что примеры успешных
        женщин-учёных нашей Лаборатории вдохновят тех девушек, которые уже сегодня задумываются о&nbsp;будущей научной
        карьере, поддержат их&nbsp;в&nbsp;принятии решения посвятить свою жизнь науке и&nbsp;со&nbsp;всей очевидностью
        покажут&nbsp;им, что, несмотря на&nbsp;все трудности, счастливая и&nbsp;полная смысла жизнь женщины в&nbsp;науке
        возможна. Просто, как говорят наши героини, надо понять, чего ты&nbsp;действительно хочешь, быть готовой
        к&nbsp;сложностям, воспринимать их&nbsp;как точки роста и&nbsp;идти за&nbsp;своей мечтой!</p>
      <p class="about__text about__text_last"><i>Группа научных коммуникаций ЛЯП ОИЯИ</i></p>
    </div>
  </div>
</section>
