<div *ngIf="heroine" style="width: 100%; width: -webkit-fill-available;">
  <div *ngIf="src">
    <iframe class="video" [src]="src" title="Video" allowfullscreen="" loading="lazy" >
    </iframe>
    <!-- <div class="timing row col-14">
      <h3 class="timing__title offset-1 col-11 offset-md-2 col-md-2">Тайминг</h3>
      <ul class="timing__text offset-1 col-12 offset-md-0 col-md-8">
        <li class="timing__item">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
          also
          the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
          the
          release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.</li>
        <li class="timing__item">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.</li>
        <li class="timing__item">
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
          galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged.</li>
        <li class="timing__item">
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
          unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </li>
      </ul>
    </div> -->
  </div>
</div>
