.card-heroines__play-button {
  position: absolute;
  bottom: -5px;
  left: 14px;
  width: 61px;
  height: 61px;
  z-index: 1;
  cursor: pointer;
}

.card-heroines__play-button{
  transition: all .3s ease;
}

@media screen and (max-width: 576px) {
  .card-heroines__play-button {
    width: 45px;
    height: 45px;
  }
}
