.video-page__close {
  cursor: pointer;
  display: flex;
  position: sticky;
  top: 30px;
  justify-content: end;
  justify-content: flex-end;
}

.video-page__close span {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 0 18px 0 0;
}

.video-page__close svg {
  width: 30px;
  height: 30px;
}
