.tooltip-element {
  border-bottom: 1px dotted;
  cursor: pointer;
}

.mytooltip{
  position: absolute;
  z-index: 1080;
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  max-width: 200px;
  padding: 5px;
  letter-spacing: normal;
  box-shadow: 0 0 2px black;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  background-color: #fff;
  font-size: 0.875rem;
  word-wrap: break-word;

}

.tooltip_active {
  opacity: 1;
}
